@page
@model AspNetCoreHangfire.Pages.CreateRecurringJobModel
@{
}

<h4>Create Hangfire Recurring Job</h4>

<a href="/hangfire">hangfire dashboard</a>

<br />
<hr />
<br />

<form method="post">
    
    <input class="btn btn-dark" type="submit" value="Create Hangfire Recurring Job" asp-page-handler="Submit" />
       
</form>