@page
@model AspNetCoreHangfire.Pages.CreateBackgroundJob
@{
}

<h4>Create Hangfire Background Job</h4>

<a href="/hangfire">hangfire dashboard</a>

<form method="post">
    <table>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
        </tr>
    </table>
    <hr />

</form>