@page
@model AspNetCoreHangfire.Pages.CreateBackgroundJob
@{
}

<h4>Create Hangfire Background Job</h4>

<a href="/hangfire">hangfire dashboard</a>

<br />
<hr />
<br />

<form method="post">
    
    <input class="btn-primary" type="submit" value="Create Hangfire Background Job" asp-page-handler="Submit" />

</form>