@page
@model AspNetCoreHangfire.Pages.CreateRecurringJobModel
@{
}


<form method="post">
    <table>
        <tr>
            <td></td>
            <td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
        </tr>
    </table>
    <hr />

</form>