@page
@model AspNetCoreHangfire.Pages.DeleteRecurringJobsModel
@{
}

<h4>Create Hangfire Recurring Job</h4>

<a href="/hangfire">hangfire dashboard</a>

<br />
<hr />
<br />

<form method="post">
    <table>
        <tr>
            <td></td>
            <td>
                <input class="nav-link text-dark" type="submit" value="Delete Hangfire Recurring Job" asp-page-handler="Submit" />
            </td>
        </tr>
    </table>
</form>