@page
@model AspNetCoreHangfire.Pages.DeleteRecurringJobsModel
@{
}

<h4>Create Hangfire Recurring Job</h4>

<a href="/hangfire">hangfire dashboard</a>

<br />
<hr />
<br />

<form method="post">
    <input class="nav-link text-dark" type="submit" value="Delete Hangfire Recurring Job" asp-page-handler="Submit" />
</form>